@model DataAccessLayer.Models.Review


<tr>
    <td>
        @Html.DisplayFor(model => model.Id)
    </td>
    <td>
        @Html.DisplayFor(model => model.Username)
    </td>
    <td>
        @Html.DisplayFor(model => model.Rating)
    </td>

    <td>
        @Html.DisplayFor(model => model.Description)
    </td>

    <td>
        @Html.DisplayFor(model => model.DateCreated)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>

</tr>